.rounded-circle{
    border:1px solid;
border-radius:50%;
width:25%;
height:100%;
}
.bg{
    background-color: black;
    
    
} 
.topmar{
    margin-top:15px;  
} 

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
   
}
.text{
    color: gold;
}
.colr{
    color: gold;
}

@media (min-width:992px) {
  .aboutme{
    width: 100%;
   
}  




}
@media (min-width:1200px) {
    .aboutme{
      width: 50%;
     
  } 
  

  
  }

 